<div class="container">
    <!-- header -->
    <div class="header">

        <div class="row">
            <div class="col-lg-6">
                <div class="shape-image-header">
                    <div class="imgPos">
                        <div class="image"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="align">
                    <div class="max-width-large">
                        <h1><b>I'm Nancy Taylor,<br> an award-winning 3D designer.</b></h1>
                    </div>
                    <div class="max-width-small">
                        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim eros elementum tristiquecursus.</p>
                    </div>
                    <br>
                    <app-get-in-touch></app-get-in-touch>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Process -->
    <section class="processes">
            <h1><b>My process</b></h1>
            <br>
            <div class="row">
                <div class="col-lg-3 process">
                    <div class="processContent">
                        <h1 class="numbers">01</h1>
                        <h3>Define the project</h3>
                        <p class="processText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor</p>
                    </div>
                </div>
                <div class="col-lg-3 process">
                    <div class="processContent">
                        <h1 class="numbers" style="">02</h1>
                        <h3>Design the solution</h3>
                        <p class="processText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor</p>
                    </div>
                    
                </div>
                <div class="col-lg-3 process">
                    <div class="processContent">
                        <h1 class="numbers">03</h1>
                        <h3>Deliver the result</h3>
                        <p class="processText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor</p>
                    </div>
                </div>
            </div>
    </section>

<!-- Experience -->
<section class="experiences">
    <div class="experience">
        <h1><b>My experiences</b></h1>
        <br>
        <div class="row">
            <div class="col-sm-12 card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="">
                            <div class="company">
                                <p>APPLE – 2021 / 2022</p>
                                <h2>3D Designer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="">
                            <div class="company">
                                <p>GOOGLE – 2019 / 2020</p>
                                <h2>Product Designer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="">
                            <div class="company">
                                <p>TWITTER – 2016 / 2018</p>
                                <h2>Lead UX Designer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 card">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="">
                            <div class="company">
                                <p>FACEBOOK – 2010 / 2015</p>
                                <h2>UI/UX Designer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Achievements -->
<section class="achievements">
    <h1><b>Achievements</b></h1>
    <br>
        <div class="row" style="margin: 0px;">
            <div class="col-md-2 col-sm-12 achievement_f">
                <h1 class="achievementNumber">12+</h1>
                <p>Years of Experience</p>
            </div>
            <div class="col-md-2 col-sm-12 achievement">
                <h1 class="achievementNumber">120+</h1>
                <p>Successful Projects</p>
            </div>
            <div class="col-md-2 col-sm-12 achievement">
                <h1 class="achievementNumber">18</h1>
                <p>Design Awards</p>
            </div>
            <div class="col-md-2 col-sm-12 achievement_l">
                <h1 class="achievementNumber">20M</h1>
                <p>Total Funding</p>
            </div>
            </div>
</section>

<!-- Email -->
    <app-email></app-email>

</div>
<app-footer></app-footer>