:root{
    --primaryText : #555555;
}
a{
    color: var(--primaryText) important!;
}
a:hover{
    color: black important!;
}



.navbar-brand{
    font-size: xx-large;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    padding-left: 10px;
    
}