<div class="container">

  <nav class="navbar navbar-expand-lg navbar-transparent">
    <a class="navbar-brand" style="color: #555555;" href=""><b>Nancy.</b></a>
  <button (click)="toggleCollapsed()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="navbarNavAltMarkup" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="">Home</a>
        <a class="nav-item nav-link" href="about">About</a>
        <a class="nav-item nav-link" href="contact">Contact</a>
      </div>
    </div>
  </nav>
</div>