:root{
    --primaryText : #555555;
}
a{
    color: var(--primaryText) important!;
}
a:hover{
    color: black important!;
}

.navbar-collapse{
    transition: ease 1s;
}

.navbar-brand{
    font-size: xx-large;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    padding-left: 10px;
    
}
.icon-bar {
    width: 22px;
    transition: all 0.2s;
    color: black;
    height: 2px;
    background-color: black;
}
@keyframes fadeIn {
    0% {position: static; margin-top:-100px ; opacity: 0; }
    100% {position: static; margin-top:0px; opacity: 1; }
  }
  @keyframes fadeOut {
    0% {position: static; margin-top:0px; opacity: 1; }
    100% {position: static; margin-top:-100px ; opacity: 0; }
  }
.navbar-collapse{
    animation: fadeIn 0.5s;
    
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}