<div class="container">
    <div class="center">

        <div class="heading">
            <h1><b>Get in touch</b></h1>
            <p class="max-width-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
        </div>
        <br>
        <form action="" class="">
            <div class="card">
                <div class="container">
                    <div class="form-group">
                        <input class="form-control input" placeholder="Fullname">
                        <input class="form-control input" placeholder="Email Address">
                        <input class="form-control input" placeholder="Phone number">
                        <textarea class="form-control textarea" placeholder="Message.." rows="5"></textarea>
                    </div>
                </div>
                <div class="sendButton">                    
                    <button type="submit" class="btn btn-lg">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>