<div class="buttons">
    <div class="getInTouch">
        <button class="btn btn-lg" [routerLink]="['/contact']"><i class="fa fa-arrow-right"></i> Get in Touch</button>
    </div>
    <div class="handles">
        <a class="btn  handler" href="https://twitter.com/"><i class='fa fa-twitter'></i></a>
        <a class="btn  handler" href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a class="btn  handler" href="https://www.behance.net/"><i class="fa fa-behance" ></i></a>
        <a class="btn  handler" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    </div>
</div>