/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css" ;
@font-face {
    font-family: 'Poppins';
    src: url("src/assets/Poppins-Regular.ttf");
  }

@font-face {
    font-family: 'Poppins-Thin';
    src: url("src/assets/Poppins-Thin.ttf");
  }
html{
  scroll-behavior: auto !important;

}
body{
    background-color: #f1f1f1;
  font-family:  "Poppins";
}
main{
  position: relative;
}
  :root{
    --primaryText: #555555;
    --secondaryText: #9c9c9c;
    --cardColour: #f1f1f1;
    --btnColour: #717171;
}

h1{
  font-size: 54px;
  color: var(--primaryText);
}
b{
  color: var(--primaryText);
}
h3{
  color: var(--primaryText);
}
h2{
  color: var(--primaryText);
}
p{
  font-size: 20px;
   color: var(--secondaryText);
}

.max-width-large{
  width: 100%;
  max-width: 34rem;
}

.btn{
  box-shadow: 4px 6px 10px 0px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
  color: #717171;
  border: none !important;
  border-radius: 18px;
}
.btn:hover{
  box-shadow: 4px 6px 12px 4px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
}
.btn-lg{
  height: 70px;
  width: 200px;
}

.max-width-small{
  width: 100%;
  max-width: 26rem;
}
