
.start{
    color: var(--primaryText);
}

.align{
    margin-top: 30%;
}


.shape-image-header {
    width: 28vw;
    height: 85vh;
    border-radius: 25vw;
    background-color: var(--cardColour);
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    transform: rotate(25deg);
    align-content: center;
    padding: 35px;
}




.imagePos{
    width: 100%;
    height: 100%;
    border-radius: 25vw;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    background-image: url("src/assets/nancy-profile.jpg");
    background-size: cover;
    transform: translate(4vh,10vh) scale(1.4) rotate(-25deg);
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.btn{
    box-shadow: 4px 6px 10px 0px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
    color: var(--btnColour);
    border: none !important;
    border-radius: 18px;
}
.btn:hover{
    box-shadow: 4px 6px 12px 4px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
}
.btn-lg{
    height: 70px;
    width: 200px;
}

.vertical-padding{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.card{
    border: none;
    border-radius: 2rem;
    /* height: 350px;
    width: 850px; */
    max-width: 850px;
    box-shadow: -8px -6px 15px 0 #fff, 6px 8px 15px 0 rgb(0 0 0 / 15%);
    padding: 40px 50px;
    background-color: var(--cardColour);
}
.moreBtn{
    display: grid;
}
.moreAbout{
    display: grid;
    justify-self: end;
    align-self: end;
}


.services{
    width: 100%;
    padding-top: 100px;
}
.service{
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    padding: 50px 30px;
    border-radius: 50px;
    margin: 10px auto;
}

/* .serviceContent{
    margin: 110px 30px;
} */
.portfolio{
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.portfolioContent{
    padding: 30px ;
}

.leftContent{
}

.btnAlign{
}

.portfolioImg{
    border-radius: 30px;
    width: 100%;
}


.portfolios{
    padding-top: 200px;
    padding-bottom: 50px;
}
.email{
    height: 100vh;
    width: 100%;
    padding-top: 200px;
}

.emailContent{
    height: 400px;
    width: 100%;
    border-radius: 40px;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    text-align: center;
}

.emailText{
    position: relative;
    top: 50px;
}


@media screen and (max-width:1400px) {
    .shape-image-header {
        width: 36vw;
        height: 85vh;
        border-radius: 25vw;
        background-color: var(--cardColour);
        box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
        transform: rotate(25deg);
        align-content: center;
        padding: 35px;
    }
}

@media screen and (max-width:1200px) {
    .shape-image-header {
        width: 38vw;
        height: 74vh;
        border-radius: 25vw;
        background-color: var(--cardColour);
        box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
        transform: rotate(25deg);
        align-content: center;
        padding: 35px;
    }
}
@media screen and (max-width:991px) {
    .shape-image-header {
        width: 41vw;
        height: 63vh;
        border-radius: 25vw;
        background-color: var(--cardColour);
        box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
        transform: rotate(25deg);
        align-content: center;
        padding: 35px;
    }
}
@media only screen  and (max-width:768px) {

    .moreAbout{
        justify-self: start;
        margin-top: 30px;
    }
    .shape-image-header {
        margin-top: 10%;
        width: 86vw;
        height: 54vh;
        border-radius: 34vw;
        background-color: var(--cardColour);
        box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
        transform: rotate(25deg);
        align-content: center;
        padding: 35px;
    }
    .imagePos{
        width: 100%;
        height: 100%;
        border-radius: 34vw;
        box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
        overflow: hidden;
    }
    .image {
        transform: translate(4vh,10vh) scale(1.4) rotate(-25deg) translateY(-30px);
    }
    .start{
        color: var(--primaryText);
        display: flex;
        flex-direction: column-reverse;
    }
    .portfolioCard{
        display: flex;
        flex-direction: column-reverse;
    }
    .portfolioImg{
        margin-top: 20px;
    }
    .leftContent{
        margin-top: 20px;
    }
    .align{
        margin-top: 10%;
    }
    
}