
.start{
    height: 100vh;
    color: var(--primaryText);
}

.align{
    margin-top: 30%;
}
.shape-image-header {
    width: 28vw;
    height: 85vh;
    border-radius: 25vw;
    background-color: var(--cardColour);
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    transform: rotate(25deg);
    align-content: center;
    padding: 35px;
}
.imagePos{
    width: 100%;
    height: 100%;
    border-radius: 25vw;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    background-image: url("src/assets/nancy-profile.jpg");
    background-size: cover;
    transform: translate(4vh,10vh) scale(1.4) rotate(-25deg);
    background-position: 50% 50%;
    background-repeat: no-repeat;

}

.btn{
    box-shadow: 4px 6px 10px 0px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
    color: var(--btnColour);
    border: none !important;
    border-radius: 18px;
}
.btn:hover{
    box-shadow: 4px 6px 12px 4px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
}
.btn-lg{
    height: 70px;
    width: 200px;
}

.vertical-padding{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.card{
    border: none;
    border-radius: 2rem;
    height: 350px;
    width: 850px;
    box-shadow: -8px -6px 15px 0 #fff, 6px 8px 15px 0 rgb(0 0 0 / 15%);
    padding: 40px 50px;
    background-color: var(--cardColour);
}
.moreAbout{
    position: relative;
}
.moreAboutBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15rem;
}
.services{
    width: 100%;
    height: 70vh;
    padding-top: 100px;
}
.service{
    width: 26rem;
    height: 24rem;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;

    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
}

.serviceContent{
    margin: 110px 30px;
}
.portfolio{
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.portfolioContent{
    padding: 30px ;
}

.leftContent{
    position: relative;
}

.btnAlign{
    position: absolute;
    bottom: 0;
}

.portfolioImg{
    border-radius: 30px;
    width: 100%;
}

.widthAdjust{
    width: 500px;
}
.portfolios{
    padding-top: 200px;
    padding-bottom: 50px;
}
.email{
    height: 100vh;
    width: 100%;
    padding-top: 200px;
}

.emailContent{
    height: 400px;
    width: 100%;
    border-radius: 40px;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    text-align: center;
}

.emailText{
    position: relative;
    top: 50px;
}

.footer{
    width: 100%;
    height: 98vh;
    border-radius: 2rem;
    box-shadow: -3px -16px 20px 0 #fff
}
.footerContent{
    padding-top: 200px;
    padding-bottom: 7rem;
}
.footerText{
    margin-left: auto;
    margin-right: auto;
}
.customInput{
    width: 400px;
    height: 70px;
    line-height: 20px;
    border-radius: 1rem;
    border: none;
    box-shadow: inset 7px 7px 8px 0 rgb(0 0 0 / 12%),inset -7px -7px 7px 0 #fff;
    background-color: transparent;
}
.footer-bottom{
    display: flex;
    border-top: 1px solid #dbdbdb;
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-content: space-between;
}
.footer-bottom-content{

}
