<div class="container">
    <div class="row start">
        <div class="col-lg-6">
            <div class="align">

                <div class="max-width-large">
                    <h1><b>Hi, I'm Nancy.<br> 3D designer based in San Francisco.</b></h1>
                </div>
                <div class="max-width-small">
                    <p style="color: #9c9c9c;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim eros elementum tristiquecursus.</p>
                </div>
                <div class="buttons">
                    <div class="getInTouch">
                        <button class="btn btn-lg"><i class="fa fa-arrow-right"></i> Get in Touch</button>
                    </div>
                    <div class="handles">
                        <a class="btn  handler" href="https://twitter.com/"><i class='fa fa-twitter'></i></a>
                        <a class="btn  handler" href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn  handler" href="https://www.behance.net/"><i class="fa fa-behance" ></i></a>
                        <a class="btn  handler" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shape-image-header">
                <div class="imagePos">
                    <div class="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>