:root{
    --primaryText: #555555;
}

h1{
    font-size: 54px;
    color: #555555;
}
h3{
    color: #555555;
}
h2{
    color: #555555;
}
p{
    font-size: 20px;
     color: #9c9c9c;
}
.start{
    height: 100vh;
    color: #555555;
}
.max-width-large{
    width: 100%;
    max-width: 34rem;
}

.max-width-small{
    width: 100%;
    max-width: 24rem;
}

.align{
    margin-top: 30%;
}
.shape-image-header {
    width: 28vw;
    height: 85vh;
    border-radius: 25vw;
    background-color: #f1f1f1;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    transform: rotate(25deg);
    align-content: center;
    padding: 35px;
}
.imagePos{
    width: 100%;
    height: 100%;
    border-radius: 25vw;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    background-image: url("src/assets/nancy-profile.jpg");
    background-size: cover;
    transform: translate(4vh,10vh) scale(1.4) rotate(-25deg);
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
.getInTouch{
    display: inline; 
    margin-right: 20px;
}
.btn{
    box-shadow: 4px 6px 10px 0px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
    color: #717171;
    border-radius: 18px;
}
.btn:hover{
    box-shadow: 4px 6px 12px 4px rgb(0 0 0 / 15%), -8px -6px 15px 0 #fff;
}
.btn-lg{
    height: 70px;
    width: 200px;
}

.handles{
    display: inline;
}
.handler{
    
    margin-right: 20px;
    border-radius: 100%;
    max-width: 100%;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}


.vertical-padding{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.card{
    /* top: 50px; */
    color: #555555;
    border: none;
    border-radius: 2rem;
    height: 350px;
    width: 850px;
    box-shadow: -8px -6px 15px 0 #fff, 6px 8px 15px 0 rgb(0 0 0 / 15%);
    padding: 40px 50px;
    background-color: #f1f1f1;
}
.moreAbout{
    position: relative;
}
.moreAboutBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15rem;
}
.services{
    width: 100%;
    height: 70vh;
    padding-top: 100px;
}
.service{
    width: 26rem;
    height: 24rem;
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;

    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
}

.serviceContent{
    margin: 110px 30px;
}
.portfolio{
    box-shadow: 7px 7px 15px 0 rgb(0 0 0 / 12%), -7px -7px 15px 0 #fff;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.portfolioContent{
    padding: 30px ;
}

.leftContent{
    position: relative;
}

.btnAlign{
    position: absolute;
    bottom: 0;
}

.portfolioImg{
    border-radius: 30px;
    width: 100%;
}

.widthAdjust{
    width: 500px;
}
.portfolios{
    padding-top: 200px;
    padding-bottom: 50px;
}